html{
  height: 100%
}

body{
  font-family: 'Young Serif', serif;
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  ;
}

.nav-bar{
  z-index: 1;
  position: sticky;
  justify-content: center;
  display: flex;
}

.nav-bar ul {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  overflow: hidden;
  border-radius: 30px;
}

.nav-bar ul li {
  float: left;
}

.nav-bar ul li a {
  display: block;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  color:rgba(1, 89, 77, 0.833);
  font-size:15px ;
}

.nav-bar a.active {
  background-color: rgba(247, 250, 249, 0.463);
  border-radius: 30px;
}

.star-image img{
  width: 10%;
  margin: 0;
  padding: 0;
  color: white;
  position: absolute;
  top: 40px;
  left: 200px;
  transform: rotate(30deg);
  z-index: -1;
}

.star-image1 img{
  width: 10%;
  margin: 0;
  padding: 0;
  color: white;
  position: absolute;
  top: 90px;
  left: 1100px;
  transform: rotate(170deg);
  z-index: -1;
}

.my-name{
  position: relative;
  font-size: 60px;
  width: 100%;
  margin-top: 20px;
}

.my-name p{
  text-align: center;
  color: rgb(1, 89, 77);
  padding: 0;
  margin: 0;
  text-shadow: 2px 2px 2px rgb(242, 242, 242);
}

.back-img{
  display: block;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
  left: 140px;
  top: 120px;
  position: absolute;
  width: 80%;
  height: 150px;
  background-color: #08AEEA;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  opacity: 0.3;
  animation: bgcolor 60s infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes bgcolor {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}